{{>licenseInfo}}

#pragma once

#include "UObject/ObjectMacros.h"

#include "{{modelNamePrefix}}BaseModel.h"
#include "{{classname}}.h"

{{#imports}}{{{import}}}
{{/imports}}

{{#operations}}
{{#operation}}
{{#allParams}}
{{#isEnum}}
{{#allowableValues}}
UENUM(BlueprintType)
enum class E{{classname}}_{{operationIdCamelCase}}Request_{{paramName}} : uint8
{
	{{#enumVars}}
	{{name}} UMETA(DisplayName = "{{value}}"){{^-last}},{{/-last}}
	{{/enumVars}}
};

{{/allowableValues}}
{{/isEnum}}
{{/allParams}}
/* {{summary}}
{{#notes}} *
 * {{.}}{{/notes}}
*/
class {{dllapi}} F{{classname}}::{{operationIdCamelCase}}Request : public F{{unrealModuleName}}Request
{
public:
	virtual ~{{operationIdCamelCase}}Request() override;
	virtual void SetupHttpRequest(const FHttpRequestRef& HttpRequest) const override final;
	virtual FString ComputePath() const override final;
	{{#allParams}}
	{{#isEnum}}

	{{#description}}/* {{{.}}} */
	{{/description}}{{^required}}TOptional<{{/required}}E{{classname}}_{{operationIdCamelCase}}Request_{{paramName}}{{^required}}>{{/required}} {{paramName}}{{#required}}{{#defaultValue}} = {{{.}}}{{/defaultValue}}{{/required}};
	{{/isEnum}}
	{{^isEnum}}

	{{#description}}/* {{{.}}} */
	{{/description}}{{^required}}TOptional<{{/required}}{{^isContainer}}{{^isPrimitiveType}}F{{/isPrimitiveType}}{{dataType}}{{^required}}>{{/required}}{{/isContainer}}{{#isContainer}}{{#content}}{{#application/json}}{{#schema}}{{baseType}}{{#isPrimitiveType}}<{{/isPrimitiveType}}{{^isPrimitiveType}}<F{{/isPrimitiveType}}{{/schema}}{{/application/json}}{{/content}}{{^content}}{{#schema}}{{baseType}}{{#isPrimitiveType}}<{{/isPrimitiveType}}{{^isPrimitiveType}}<F{{/isPrimitiveType}}{{/schema}}{{/content}}{{complexType}}>{{^required}}>{{/required}}{{/isContainer}} {{paramName}}{{#required}}{{#defaultValue}} = {{{.}}}{{/defaultValue}}{{/required}};
	{{/isEnum}}
	{{/allParams}}
};

class {{dllapi}} F{{classname}}::{{operationIdCamelCase}}Response : public F{{unrealModuleName}}Response
{
public:
	virtual ~{{operationIdCamelCase}}Response() override;
	{{#responses.0}}
	virtual void SetHttpResponseCode(EHttpResponseCodes::Type InHttpResponseCode) override final;
	{{/responses.0}}
	virtual bool FromJson(const TSharedPtr<FJsonValue>& JsonValue) override final;

	{{#returnProperty}}{{#isContainer}}{{baseType}}<{{^isPrimitiveType}}F{{/isPrimitiveType}}{{complexType}}>{{/isContainer}}{{^isContainer}}{{^isPrimitiveType}}F{{/isPrimitiveType}}{{baseType}}{{/isContainer}} Content;{{/returnProperty}}
};

{{/operation}}
{{/operations}}