{{>licenseInfo}}

using System;
using System.IO;
using UnrealBuildTool;

public class {{unrealModuleName}} : ModuleRules
{
	public {{unrealModuleName}}(ReadOnlyTargetRules Target) : base(Target)
	{
		PCHUsage = PCHUsageMode.NoPCHs;

		PublicDependencyModuleNames.AddRange(new string[]
		{
			"Core",
			"CoreUObject",
			"HTTP",
			"Json",
		});
	}
}