{{>licenseInfo}}

#pragma once

#include "Interfaces/IHttpRequest.h"
#include "Interfaces/IHttpResponse.h"
#include "Serialization/JsonWriter.h"
#include "Dom/JsonObject.h"
#include "HttpRetrySystem.h"
#include "Containers/Ticker.h"
#include "Runtime/Launch/Resources/Version.h"

typedef TSharedRef<TJsonWriter<>> JsonWriter;
using namespace FHttpRetrySystem;

struct {{dllapi}} F{{unrealModuleName}}HttpRetryManager
	: public FManager
#if ENGINE_MAJOR_VERSION <= 4
	, public FTickerObjectBase
#else
	, public FTSTickerObjectBase
#endif
{
	using FManager::FManager;

	virtual bool Tick(float DeltaTime) override final;
};

struct {{dllapi}} F{{unrealModuleName}}HttpRetryParams
{
	F{{unrealModuleName}}HttpRetryParams(
		const FRetryLimitCountSetting& InRetryLimitCountOverride = FRetryLimitCountSetting(),
		const FRetryTimeoutRelativeSecondsSetting& InRetryTimeoutRelativeSecondsOverride = FRetryTimeoutRelativeSecondsSetting(),
		const FRetryResponseCodes& InRetryResponseCodes = FRetryResponseCodes(),
		const FRetryVerbs& InRetryVerbs = FRetryVerbs(),
		const FRetryDomainsPtr& InRetryDomains = FRetryDomainsPtr()
	);

	FRetryLimitCountSetting RetryLimitCountOverride;
	FRetryTimeoutRelativeSecondsSetting RetryTimeoutRelativeSecondsOverride;
	FRetryResponseCodes RetryResponseCodes;
	FRetryVerbs RetryVerbs;
	FRetryDomainsPtr RetryDomains;
};

class {{dllapi}} F{{unrealModuleName}}Model
{
public:
	virtual ~F{{unrealModuleName}}Model() {}
	virtual void WriteJson(JsonWriter& Writer) const = 0;
	virtual bool FromJson(const TSharedPtr<FJsonValue>& JsonValue) = 0;
};

class {{dllapi}} F{{unrealModuleName}}Request
{
public:
	virtual ~F{{unrealModuleName}}Request() {}
	virtual void SetupHttpRequest(const FHttpRequestRef& HttpRequest) const = 0;
	virtual FString ComputePath() const = 0;

	/* Enables retry and optionally sets a retry policy for this request */
	void SetShouldRetry(const F{{unrealModuleName}}HttpRetryParams& Params = F{{unrealModuleName}}HttpRetryParams()) { RetryParams = Params; }
	const TOptional<F{{unrealModuleName}}HttpRetryParams>& GetRetryParams() const { return RetryParams; }

private:
	TOptional<F{{unrealModuleName}}HttpRetryParams> RetryParams;
};

class {{dllapi}} F{{unrealModuleName}}Response
{
public:
	virtual ~F{{unrealModuleName}}Response() {}
	virtual bool FromJson(const TSharedPtr<FJsonValue>& JsonValue) = 0;

	void SetSuccessful(bool InSuccessful) { Successful = InSuccessful; }
	bool IsSuccessful() const { return Successful; }

	virtual void SetHttpResponseCode(EHttpResponseCodes::Type InHttpResponseCode);
	EHttpResponseCodes::Type GetHttpResponseCode() const { return ResponseCode; }

	void SetResponseString(const FString& InResponseString) { ResponseString = InResponseString; }
	const FString& GetResponseString() const { return ResponseString; }

	void SetHttpResponse(const FHttpResponsePtr& InHttpResponse) { HttpResponse = InHttpResponse; }
	const FHttpResponsePtr& GetHttpResponse() const { return HttpResponse; }

private:
	bool Successful;
	EHttpResponseCodes::Type ResponseCode;
	FString ResponseString;
	FHttpResponsePtr HttpResponse;
};