{{>licenseInfo}}

#pragma once

#include "UObject/ObjectMacros.h"
{{#models}}
{{#model}}
{{#oneOf}}
{{#-first}}
#include "Misc/TVariant.h"
{{/-first}}
{{/oneOf}}
{{/model}}
{{/models}}

#include "{{modelNamePrefix}}BaseModel.h"
{{#imports}}{{{import}}}
{{/imports}}

{{#models}}
{{#model}}
{{#isString}}
{{#isEnum}}
{{#allowableValues}}
UENUM(BlueprintType)
enum class E{{classname}}_{{name}}_Values : uint8
{
	{{#enumVars}}
	{{name}} UMETA(DisplayName = "{{value}}"){{^-last}},{{/-last}}
	{{/enumVars}}
};
{{/allowableValues}}
{{/isEnum}}
{{/isString}}
{{#vars}}
{{#isEnum}}
{{#allowableValues}}
UENUM(BlueprintType)
enum class E{{classname}}_{{name}} : uint8
{
	{{#enumVars}}
	{{name}} UMETA(DisplayName = "{{value}}"){{^-last}},{{/-last}}
	{{/enumVars}}
};
	{{/allowableValues}}
{{/isEnum}}
{{/vars}}

/*
 * F{{classname}}
 *
 * {{description}}
 */
class {{dllapi}} F{{classname}} : public F{{unrealModuleName}}Model
{
public:
	virtual ~F{{classname}}() override {}
	virtual bool FromJson(const TSharedPtr<FJsonValue>& JsonValue) override final;
	virtual void WriteJson(JsonWriter& Writer) const override final;

	{{#isString}}
	{{#isEnum}}
	{{#allowableValues}}
	E{{classname}}_{{name}}_Values Value{{#defaultValue}} = {{{.}}}{{/defaultValue}};
	{{/allowableValues}}
	{{/isEnum}}
	{{^isEnum}}
	FString Value{{#defaultValue}} = {{{.}}}{{/defaultValue}};
	{{/isEnum}}
	{{/isString}}
	{{#vars}}
	{{#isEnum}}
	{{#description}}/* {{{.}}} */
	{{/description}}{{^required}}TOptional<{{/required}}E{{classname}}_{{name}}{{^required}}>{{/required}} {{name}}{{#required}}{{#defaultValue}} = {{{.}}}{{/defaultValue}}{{/required}};
	{{/isEnum}}
	{{^isEnum}}
	{{^oneOf}}
	{{#description}}/* {{{.}}} */
	{{/description}}{{^required}}TOptional<{{/required}}{{#isPrimitiveType}}{{{datatype}}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isContainer}}{{{baseType}}}<F{{{complexType}}}>{{/isContainer}}{{^isContainer}}F{{{datatype}}}{{/isContainer}}{{/isPrimitiveType}}{{^required}}>{{/required}} {{name}}{{#required}}{{#defaultValue}} = {{{.}}}{{/defaultValue}}{{/required}};
	{{/oneOf}}
	{{/isEnum}}
	{{/vars}}
	{{#oneOf}}
	{{#-first}}
	TVariant<{{#composedSchemas}}{{#oneOf}}{{^isPrimitiveType}}F{{/isPrimitiveType}}{{dataType}}{{^-last}}, {{/-last}}{{/oneOf}}{{/composedSchemas}}> OneOf;
	{{/-first}}
	{{/oneOf}}
};

{{/model}}
{{/models}}